<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="LikeMapper">

	<select id="likeBoardCount" parameterType="LikeDTO" resultType="int">
		SELECT count(*)
		FROM liked
		WHERE mbrId = #{mbrId}
		AND boardId = #{boardId}
	</select>

	<insert id="likeBoardInsert" parameterType="LikeDTO">
		INSERT INTO liked(likeNo, mbrId, boardId, reviewId, replyId)
		VALUES(likedSeq.NEXTVAL, #{mbrId}, #{boardId}, null, null)
	</insert>

	<delete id="likeBoardDelete" parameterType="LikeDTO">
		DELETE FROM liked
		WHERE mbrId = #{mbrId}
		AND boardId = #{boardId}
	</delete>

	<delete id="likeReplyDelete" parameterType="LikeDTO">
		DELETE FROM liked
		WHERE mbrId = #{mbrId}
		AND replyId = #{replyId}
	</delete>

	<insert id="likeReplyInsert" parameterType="LikeDTO">
		INSERT INTO liked(likeNo, mbrId, boardId, reviewId, replyId)
		VALUES (likedSeq.NEXTVAL, #{mbrId}, null, null, #{replyId})
	</insert>


	<!-- review -->
	<select id="likeReviewCount" parameterType="LikeDTO">
		SELECT count(*)
		FROM liked
		WHERE mbrId = #{mbrId}
		AND reviewId = #{reviewId}
	</select>

	<insert id="likeReviewInsert" parameterType="LikeDTO">
		INSERT INTO liked(likeNo, mbrId, boardId, reviewId, replyId)
		VALUES (likedSeq.NEXTVAL, #{mbrId}, null, #{reviewId}, null)
	</insert>

	<delete id="likeReviewDelete" parameterType="LikeDTO">
		DELETE FROM liked
		WHERE mbrId = #{mbrId}
		AND reviewId = #{reviewId}
	</delete>
	
	<select id="likeReplyCount" parameterType="LikeDTO" resultType="int">
		SELECT count(*)
		FROM liked
		WHERE mbrId = #{mbrId}
		AND replyId = #{replyId}
	</select>
</mapper>
