<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ReviewMapper">

	<select id="reviewSelect" parameterType="string" resultType="ReviewDTO">
		SELECT *
		FROM review
		WHERE gameNo = #{gameNo}
		ORDER BY reviewLiked desc
	</select>


	<!--댓글:삽입 -->
	<insert id="reviewInsert" parameterType="ReviewDTO">
		Insert
		INTO review (reviewId, mbrId, mbrName, gameNo, reviewContent, reviewLiked, reviewScore, reviewDate)
		VALUES (reviewseq.nextval,#{mbrId},#{mbrName},#{gameNo},#{reviewContent},0,#{reviewScore},SYSDATE)
	</insert>
	
	<!--댓글:수정 -->
	<update id="reviewUpdate" parameterType="ReviewDTO">
		UPDATE review
		SET reviewContent = #{reviewContent} , reviewScore= #{reviewScore}
		WHERE reviewId=#{reviewId}
	</update>

	<!--댓글:삭제 -->
	<delete id="reviewDelete" parameterType="int">
		DELETE
		FROM review
		WHERE reviewId=#{reviewId}
	</delete>

	<!--좋아요 가져오기 -->
	<select id="reviewLikeCheck" parameterType="int" resultType="list">
		SELECT reviewLiked
		FROM review
		WHERE reviewId=#{reviewId}
	</select>

	<!-- 게임댓글: 좋아요 +1 -->
	<update id="reviewLikePlus" parameterType="int">
		UPDATE review
		SET reviewLiked = reviewLiked+1
		WHERE reviewId=#{reviewId}
	</update>

	<!-- 게임댓글: 좋아요 -1 -->
	<update id="reviewLikeMinus" parameterType="int">
		UPDATE review
		SET reviewLiked = reviewLiked-1
		WHERE reviewId=#{reviewId}
	</update>
	

	<!--좋아요 가져오기 -->
	<select id="reviewLikeSelect" parameterType="int">
		SELECT reviewLiked
		FROM review
		WHERE reviewId=#{reviewId}
	</select>

	<!--댓글 페이지 -->
	<select id="selectAll"  resultType="ReviewDTO">
		select *
		from review
		order by mbrId
	</select>

	<!-- reviewId 찾기  -->
	<select id="selectreviewId" parameterType="hashmap" resultType="int">
		SELECT reviewId
		FROM review
		WHERE mbrName = #{mbrName} and gameNo = #{gameNo}
	</select>
	
	<!-- 댓글 회원별명 존재여부 확인 -->
	<select id="nameCheck" parameterType="string" resultType="int">
		select count(*)
		from review
		where mbrName = #{mbrName}
	</select>
	
</mapper>