<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="RateMapper">
	
	<select id="rateRecommendSelect" resultType="double">
		SELECT *
		FROM game, rate
		WHERE game.gameNo = rate.gameNo
		AND rownum &lt; 6
		ORDER BY rate.gameScore DESC, game.gameReleasedDate DESC
	</select>
	
	<select id="rateTagSelect" resultType="double">
		SELECT *
		FROM game, rate
		WHERE game.gameNo = rate.gameNo
		AND REGEXP_LIKE
		<foreach collection="array" item="arr" open="(game.gameGenre, " close=")" separator=",">
			#{arr}
		</foreach>
		AND rownum &lt; 6
		ORDER BY rate.gameScore DESC, game.gameReleasedDate DESC;
	</select>
	
</mapper>